# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
env/
venv/

# pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Docker
*.log

# IDE files (optional)
.vscode/
.idea/

